/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$background-color: #fff !default; // 배경색 
$link-color: #595959 !default; // 링크색(글 제목)
$primary-color: #a3a3a3 !default; // 인용
