/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$background-color: #fff !default; // 배경색 
$link-color: #3a3c3d !default; // 링크색(글 제목)
